{% extends 'core/base.html' %}

{% block title %}{{ book.title }} - BookHub{% endblock %}

{% block content %}
<div>
    <nav class="header">
        <ul class="sous_header">
            <li class="title_header"><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'book_list' %}">Books</a></li>
        </ul>
    </nav>
    <div class="title_book_detail">
        <h2> Book: {{ book.title }}</h2>
    </div>
    
    <div class="book_detail">
        {% if book.cover_image %}
        <img src="{{ book.cover_image.url }}" alt="{{ book.title }}">
        {% else %}
        <div>[Book Image]</div>
        {% endif %}
        
        <div >
            
            
            <div>
                <p>by {{ book.author.name }}</p>
                <span>{{ book.category.name }}</span>
                <span>ISBN: {{ book.isbn }}</span>
            </div>
            
            <div>
                <h2>{{ book.price }} KES</h2>
                {% if book.stock_quantity > 0 %}
                <span>In stock ({{ book.stock_quantity }} available)</span>
                {% else %}
                <span>Out of stock</span>
                {% endif %}
            </div>
            
            <div>
                <h4>Description</h4>
                <p>{{ book.description }}</p>
            </div>
            
            <div>
                <h4>Information</h4>
                <ul>
                    <li><strong>Author:</strong> {{ book.author.name }}</li>
                    <li><strong>Category:</strong> {{ book.category.name }}</li>
                    <li><strong>ISBN:</strong> {{ book.isbn }}</li>
                    <li><strong>Date added:</strong> {{ book.created_at|date:"d/m/Y" }}</li>
                </ul>
            </div>
            
            {% if user.is_authenticated and book.stock_quantity > 0 %}
            <div>
                <button onclick="addToCart({{ book.id }}, this)">Add to Cart</button>
            </div>
            {% elif not user.is_authenticated %}
            <div>
                <a href="{% url 'login' %}">Login</a> to add this book to your cart.
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}