{% extends 'core/base.html' %}

{% block title %}Payment Successful - BookHub{% endblock %}

{% block content %}
<div class='login'>
    <div class="sous_login" style="padding: .5rem; display: flex;flex-direction: column;justify-content: space-around;">
        <div>
            <h3>Payment Successful!</h3>
        </div>
        <div style="display: flex;flex-direction: column;justify-content: center; align-items: center; gap: .5rem;">
            <h5>Thank you for your order!</h5>            
            <div>
                <h6>Amount Paid</h6>
                <strong>{{ order.total_amount }} KES</strong>
            </div>
            <h5>Status Confirmed</h5>
        </div>
        <div class="btn_submit">
            <a href="{% url 'home' %}">Back to Home</a>
        </div>        
    </div>
</div>
{% endblock %}