{% extends 'core/base.html' %}

{% block title %}Register - BookHub{% endblock %}

{% block content %}
<div class="login">

    <div class="register">
        <div>
            <h4>Create Account</h4>
        </div>

        <form method="post" style="width: 90%;display: flex; flex-direction: column;gap: .5rem; ">
            {% csrf_token %}
            
            {% for field in form %}
            <div style="display: flex; flex-direction: column;gap: .2rem; width: 100%;">
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
                {{ field }}
                {% if field.help_text %}
<!--                  <div>{{ field.help_text }}</div>-->  
                {% endif %}
                {% for error in field.errors %}
                <div>{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}
            
            <div class="btn_submit">
                <button type="submit">Register</button>
            </div>
        </form>  

        <div>
            <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        </div>
    </div>

</div>
{% endblock %}