<footer>
    <div style="width: 100%;">
        <div class="sous_footer">
            <div>
                <h5>BookHub</h5>
                <p>Your favorite online bookstore. </br> Discover thousands of books in all categories.</p>
            </div>
            <div>
                <h5>Quick Links</h5>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'book_list' %}">All Books</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div>
                <h5>Contact</h5>
                <ul>
                    <li>contact@bookhub.com</li>
                    <li>+254 000 000 000</li>
                    <li>Nairobi, Kenya</li>
                </ul>
            </div>
        </div>
        <hr>
        <div style="justify-content: center;height: 6vh; display: flex;align-items: center;">
            <p>&copy; 2025 BookHub. All rights reserved.</p>
        </div>
    </div>
</footer>