<nav class="header">
    <div class="sous_header">
        <a href="{% url 'home' %}" class="title_header">BookHub</a>
            <ul>
                {% if user.is_authenticated and user.is_superuser or user.role == 'admin' %}
                    <li><a href="{% url 'admin_panel' %}">Admin Panel</a></li>
                {% endif %}

                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'cart_detail' %}" id="cart-link" style="color: cadetblue; display: flex;align-items: center;">
                            🛒 Cart<span id="cart-count" style="display: none;"> 0</span>
                        </a>
                    </li>
                    <li>
                        <a style="color: cadetblue;" href="{% url 'my_orders' %}">My Orders</a>
                        <span style="color: cadetblue; display: flex;align-items: center;"> 
                            👤 {{ user.username }}
                        </span>
                        <a href="#" style="color: cadetblue;" onclick="confirmLogout()">Logout</a>
                    </li>
                {% else %}
                    <a style="color: cadetblue;" href="{% url 'login' %}">Login</a>
                {% endif %}
            </ul>
    </div>
</nav>